# Dépendances
node_modules/
*/node_modules/

# Environment
.env
.env.local
*.env

# Build
dist/
build/
*/dist/
*/build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
postgres-data/
*.db

# Prisma
prisma/migrations/knowledge-app.zip
